.container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  border-radius: 10px;
  margin: 1vh 1vw;
  color: #b9b9b9;
  background: #f4f4f4;
}
.customer_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex: 3; */
  color: #364f6b;
  cursor: pointer;
}

.customer_info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5vh 0.5vw;
  margin: 1vh 1vw;
}

.heading {
  color: #5d5d5d;
}
.popup_btn {
  margin: 0.5vh 1vw;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  z-index: 5;
  background-color: #3a7638;
  color: white;
  border: none;
  font-size: 1rem;
  justify-content: center;
  background-color: #f3f5f7;
  color: #12344d;
  border: 1px solid #cfd7df;
  background-image: linear-gradient(to bottom, #fff, #f3f5f7);
}
.note_info {
  padding-top: 0;
  margin-top: 0;
  color: #5d5d5d;
  overflow: hidden;
  word-wrap: break-word;
}
.created {
  font-size: 10px;
  color: #b9b9b9;
}
