
[submodule "crux/src/React-lib"]
	path = crux/src/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "chat/src/React-lib"]
	path = chat/src/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "bot/src/React-lib"]
	path = bot/src/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "sales/src/React-lib"]
	path = sales/src/React-lib

	url = https://github.com/harshkumar88/React-lib.git
