[submodule "crux/React-lib"]
	path = crux/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "chat/React-lib"]
	path = chat/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "bot/React-lib"]
	path = bot/React-lib
	url = https://github.com/harshkumar88/React-lib.git
[submodule "sales/React-lib"]
	path = sales/React-lib
	url = https://github.com/harshkumar88/React-lib.git
