.ticket_container {
  display: flex;
  align-items: center;
  background-color: #ebeff3;
  padding: 1vh 1vw;
  min-height: 90vh;
}

@media screen and (max-width: 900px) {
  .ticket_container {
    flex-direction: column;
  }
}
