.ticket_container {
  display: flex;
  align-items: center;
  background-color: #ebeff3;
  /* padding: 0vh 1vw; */
  /* min-height: 90vh; */
  height: 68dvh;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  /* .ticket_container {
    flex-direction: column;
  } */
}
