body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mentions__suggestions {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 30vh;
  overflow-y: auto;
  border: 1px solid rgba(9, 30, 66, 0.12);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.mentions__suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

.mentions__suggestions li:hover {
  background-color: #f0f0f0;
}
.mentions__suggestions__item:first-child {
  background-color: #f5f7f9;
}

.mentions__suggestions__item:hover {
  background-color: #f5f7f9;
}

.mentions__suggestions__item {
  color: rgba(9, 30, 66, 0.87);
  background-color: #fff;
  border-bottom: 1px solid #e1e4e8;
}
