.text_field {
  width: 80%;
  padding: 0.8vh 1vw;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  outline: none;
}

.select_field {
  width: 80%;
}

.css-13cymwt-control {
  z-index: 100 !important;
}
