.ticket_container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.ticket {
  flex: 3.5;
  max-height: 85vh;
  overflow-y: auto;
}
.filter {
  flex: 1;
  position: relative;
  height: 100%;
  max-height: 85vh;
  overflow-y: auto;
}
.description {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.heading,
.agent {
  margin: 1vh 1vw;
  color: #2d2d2d;
}
.center_div {
  display: flex;
  justify-content: center;
  padding: 1vh 1vw;
}
.center_div button {
  padding: 1vh 1vw;
  border-radius: 4px;
  background-color: #0249a6;
  color: #fff;
  border: none;
  outline: none;
}
